/* modal */

.custom-modal {
    max-width: 95%;
    height: 75vh;
    background-color: rgb(229, 168, 89);
}

.custom-modal .modal-content {
    height: 100%;
}

.modal-header {
    text-align: center;
    width: 100%;
    position: relative;
}

.modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#modalFoodImage {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}




/* Cart Sidebar Styles */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #e0cdcd;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1050; /* Ensure it appears above other elements */
    display: flex;
    flex-direction: column;
}

.cart-sidebar.active {
    right: 0; /* Show the sidebar */
}

.cart-sidebar .cart-header {
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
}

.cart-sidebar .cart-items {
    flex-grow: 1; /* Takes up the remaining space between header and footer */
    padding: 1rem;
    overflow-y: auto; /* Scroll if content overflows */
}

.cart-sidebar .cart-footer {
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.cart-sidebar .btn-checkout {
    background-color: #ff8a00;
    /* color: white; */
    width: 100%;
}

.subtotal-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; /* Add some space between subtotal and checkout button */
    font-weight: bold;
}

.subtotal-label {
    font-size: 1rem;
}

.subtotal-value {
    font-size: 1rem;
    color: #ff8a00; /* Matches the checkout button color */
}


