/* modal */

.custom-modal {
    max-width: 95%;
    height: 75vh;
    background-color: rgb(229, 168, 89);
}

.custom-modal .modal-content {
    height: 100%;
}

.modal-header {
    text-align: center;
    width: 100%;
    position: relative;
}

.modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#modalFoodImage {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}


/* icon cart */

.iconCart{
    position: relative;
    z-index: 1;
}

.cart-img {
    width: 30px;
    position: relative; /* Ensure the image itself is the reference point for the badge */
}

.totalQuantity {
    position: absolute;
    top: 15px; /* Adjust as needed to perfectly position the badge */
    right: 90px; /* Adjust as needed to perfectly position the badge */
    font-size: 0.75rem; /* Smaller font size for a clean look */
    background-color: #b31010;
    width: 20px; /* Ensure the badge is not too large */
    height: 20px; /* Keep it circular by setting equal width and height */
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make the badge circular */
    z-index: 10; /* Ensure the badge appears above other elements */
}
