
.custom-modal {
    max-width: 95%;
    height: 75vh;
    background-color: rgb(229, 168, 89);
}

.custom-modal .modal-content {
    height: 100%;
}

.modal-header {
    text-align: center;
    width: 100%;
    position: relative;
}

.modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#modalFoodImage {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

.fa-trash-can{
    color: rgb(211, 64, 64);
    font-size: large;
    cursor: pointer;    

}






/* Cart Sidebar Styles */

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: 	#333827;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1050; /* it appears above other elements */
    display: flex;
    flex-direction: column;
}

.cart-sidebar.active {
    right: 0; /* Show the sidebar */
}

.cart-sidebar .cart-header {
    padding: 1rem;
    background-color: 	#333827;
    font-weight: bold;
   
}

.cart-sidebar .cart-items {
    flex-grow: 1; 
    padding: 1rem;
    overflow-y: auto; 
}

.cart-sidebar .cart-footer {
    padding: 1rem;
    background-color: 	#333827;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.cart-sidebar .btn-checkout {
    background-color: #ff8a00;
    /* color: white; */
    width: 100%;
    font-weight: bold;
}
.cart-sidebar .btn-checkout:hover {
    background-color: #ff8a00;
   
}


.subtotal-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; 
    font-weight: bold;
}
.subtotal-label {
    font-size: 1rem;
    color: white;
}
.delivery-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; 
    font-weight: bold;

}
.delivery-label{
    font-size: 1rem;

}



.subtotal-value {
    font-size: 1rem;
    color: #ff8a00; 
}
.btn-close {
    filter: invert(5);
    
}
.cart-font {
    
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /

}

.card-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

